<h1>画像投稿フォーム</h1>
<%= form_with model: @post , url: public_posts_path do |f| %>

  <h4>Phot</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>Content</h4>
  <%= f.text_area :content, required: true %>
  <%= f.submit '投稿' %>
  
  <% end %>