.top-page-background {
  position: relative;
  background-color: #000; /* 背景を黒に設定 */
  min-height: 100vh;
  position: relative;
}

.object-container {
  position: relative;
  z-index: 2; /* 画像がリンクや背景の下に行かないように調整 */
  top: 20%; /* 垂直方向で中央に配置 */
  right: auto; /* rightを無効化 */
  left: 60%; /* ロゴに寄せるため、左からの距離を設定 */
  transform: translateY(-150%);
  margin: 10px 0; /* ロゴと対象物の間に適切な余白を追加 */
}

.object-image {
  // width: 300%; /* 画像をコンテナの幅に合わせる */
  max-width: 600px; /* 画像の最大幅を設定 */
  height: auto; /* アスペクト比を保ちながら高さを自動調整 */
  margin-left: -100px; /* 左に200pxだけ余分に寄せる */
}

.logo-container {
  text-align: center;
  margin-top: 20px;
  margin-left: -250px; /* 左に250pxだけ余分に寄せる */
  position: relative;
  z-index: 3; /* ロゴが画像の上に表示されるように調整 */
}

.header img {
  max-height: 100%; /* ヘッダーの高さに合わせてロゴの高さを調整 */
  width: auto; /* アスペクト比を保つ */
  display: inline-block; /* 必要に応じてブロック表示を無効にする */
  vertical-align: middle; /* ロゴを垂直中央に配置 */
}

.btn-wrapper {
    position: relative;
    z-index: 4; /* ボタンが画像の上に表示されるように調整 */
}

.top-page-content {
    position: relative;
    z-index: 4; /* すべてのテキストとボタンが画像の上に表示されるように調整 */
}

@media (min-width: 800px) {
  .logo-container {
    margin-right: 20px; /* ロゴと対象物の間のスペースを調整 */
  }
}

@media (max-width: 799px) {
  .top-page-background {
    flex-direction: column; /* 縦並び */
  }

  .navbar-brand {
    max-width: 100px; /* ロゴの最大幅を小さく設定 */
    max-height: 30px; /* ロゴの最大高さを小さく設定 */
  }

  .logo-container {
    margin-bottom: 5px; /* ロゴと対象物の間のスペースを調整 */
  }
}
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }

  .object-image {
    width: 300%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
.logo-container{
  width: 50%;
  margin-left: -80px;
}
  .text-content {
    margin: 0 auto;
    padding: 10px;
  }
}