  <div class="container">
    <div class="about-content">
        <%= image_tag asset_path("about.jpg"), class:"about-image", alt: ""  %>
        <div class="about-text">
            <h2>サイト概要</h2>
            <p>私たちのサイトは、飼い猫の代わりに飼い主が投稿するコミュニティーサイトです。<br>
                以下の機能をご利用いただけます。</p>
            <ul>
                <li><strong>写真ギャラリー</strong>: メンバーが自分の猫の写真をアップロードし、共有できます。</li>
                <li><strong>猫のストーリー</strong>: 猫の日常やエピソードを投稿できます。</li>
                <li><strong>情報共有</strong>: 猫の飼育方法、健康管理、グッズのレビューなどの情報を共有できます。</li>
                <li><strong>イベント情報</strong>: 猫に関連するイベントやオフ会の情報提供。</li>
                <li><strong>交流機能</strong>: メンバー同士で質問や意見交換ができます。</li>
            </ul>
            <h2>価値観</h2>
            <p>私自身、猫との生活は生まれた時から欠かせないものでした。<br>
                猫は私たちにとって、単なるペットではなく、家族の一員として愛される存在です。<br>
                この深い愛情と経験を基に、猫との絆を深めるためのコミュニティサイトを立ち上げました。<br>
                <br>
                　まだ、多くの社会的仕組みは動物を家族として受け入れる体制が整っていないのが現状です。<br>
                例えば、災害時にペットと一緒に避難できる場所が少ないことは、飼い主にとって大きな悩みです。<br>
                このような現状を改善するため、猫好き同士が助け合い、<br>
                猫の気持ちを理解する力を養える場を提供したいと考えています。<br>
                サイトでは、猫の感情や意思を理解する重要性を科学的研究にもとづいて提案し、<br>
                猫との絆を深めることを目指しています。</p>
                
            <p>　私たちの未来は、動物も自然も人間も調和のとれた世界が重要だと考えています。<br>
                このサイトを通じて、全ての生き物が共に幸せに暮らせる環境作りに貢献したいと願っています。<br>
                猫との関わりを深めることで、より良い世界を目指していきましょう。</p>
        </div>
    </div>
</div>