<div class="col-md-5 mx-auto mt-5 ">
  <h1 style="color: white;">welcome</h1>
 
  <p style="color: white;">It is an SNS community site where pet owners connect <br>
  　　by putting themselves in their cats’ shoes.</p>
  
  
  <div class="btn-wrapper col-10 mx-auto">
      <%= link_to "Guest", customers_guest_sign_in_path, class: "btn btn-secondary btn-sm sign_in", method: :post %>
      <%= link_to "Log in", new_customer_session_path, class: "btn btn-info btn-sm sign_in" %>
      <%= link_to "Sign Up", new_customer_registration_path, class: "btn btn-success btn-sm sign_up" %>
   </div>
</div>
      
