/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "public/top";
@import "public/about";
@import "public/posts";
@import "public/customars";
@import "public/chats";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

header, footer {
  min-width: 960px;
  width: 100%; /* 画面幅に合わせて調整 */
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
}

.navbar-brand {
  max-width: 960px;
  max-height: 50%;
  margin: 0 auto;
}

.container {
  margin-top: 100px; /* ヘッダーの高さに合わせて調整 */
  flex: 1; /* フッターの上まで高さを調整 */
  overflow-y: auto; /* 内容が多いときにスクロール可能に */
  // background-color: #fff; /* 背景色を白にするなど適宜調整 */
}

footer {
  height: 200px; /* フッターの高さ */
  background-color: #333; /* フッターの背景色 */
  position: fixed; /* 画面下部に固定 */
  bottom: 0;
  width: 100%;
   min-height: 100px; /* フッターの最低高さを設定 */
}

main {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 100px; /* フッターの高さ分の余白を追加 */
}

@media (max-width: 799px) {
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
  }

  .navbar-toggler {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: white;
    display: block;
    margin: 5px 0;
  }

  .collapse.navbar-collapse {
    // visibility: hidden; /* メニューを初期状態で非表示 */
    flex-direction: column;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10; /* メニューが他の要素の上に表示されるように設定 */
  }

  // .collapse.navbar-collapse.show {
  //   visibility: visible; /* ハンバーガーメニューを表示 */
  // }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}

  .navbar-brand {
    max-height: 50px; /* ロゴの最大高さを設定 */
    width: auto;
    display: block; /* ロゴをブロックレベルで表示 */
  }



#error_explanation > h2 {
  font-size: 18px;
}