<footer class="bg-dark text-white">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-8">
        <p class="mt-3">It is an SNS community site where pet owners connect <br>by putting themselves in their cats’ shoes.</p>
      </div>
      <div class="col-md-3">
        <h6 class="text-white mt-3 mb-3">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a class="text-white-50 ">株式会社 にゃんず</a>
          </li>
          <li>
            <a  class="text-white-50">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>